body {
    margin: 2rem;
}
form.auth {
    padding: 2rem;
    border: solid 1px var(--color-structure);
    display: flex;
    flex-direction: column;
    border-radius: var(--radius-structure);
}
form.auth_login {
}