
/*-- Composer-----------------------------------*/
.composer {
    width: 100%;
    padding: var(--spacing-structure);
}
.composer_input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0px;
    font-size: larger;
    resize: none;
}
