
/*-- Composer-----------------------------------*/
.composer {
    width: 100%;
    padding: 1rem;
    border: var(--border-structure);
    border-radius: var(--radius-structure);
}
.composer_input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: 0px;
    font-size: larger;
    resize: none;
}
