
/*-- Composer-----------------------------------*/
.composer {
    width: 100%;
    padding: var(--spacing-structure);
    display: flex;
    flex-direction: row;
    background: var(--color-field);
}
.composer_portrait {
    width: 64px;
    height: 64px;
    margin-right: var(--spacing-structure);
}
.composer_input {
    flex-grow: 1;
    height: 6em;
    line-height: 1.5em;
    background-color: transparent;
    border: none;
    padding: 0px;
    font-size: larger;
    resize: none;
}
