
/*-- Posts--------------------------------------*/
.post {
    background: var(--color-field);
    padding: var(--spacing-structure);
    margin-top: var(--spacing-structure);
    display: flex;
    flex-direction: row;
    cursor: pointer;
}
.post .portrait {
    margin-right: var(--spacing-structure);
}
.post_content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
.post_body {
    margin-top: var(--spacing-structure);
    padding-top: var(--spacing-structure);
    border-top: var(--border-structure);
    word-break: break-all;
    white-space: pre-wrap;
}
.post_actions {
    padding-right: calc(
        var(--spacing-structure) + 64px
    );
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: calc(var(--spacing-structure)*2);
}
.post_actions > img {
    width: 24px;
    height: 24px;
}
