
.portrait {
    border-radius: var(--radius-structure);
    width: 64px;
    height: 64px;
}
.portrait.large {
    border-radius: var(--spacing-structure);
    width: 128px;
    height: 128px;
}
